<div class="head-bar sb-slide light">
		<div class="head-logo spacer">
			<a href="/">
			<img src="/img/me.png" alt="website logo">
		</a>
		</div>

		<div class="menu-toggle sb-toggle-left">
			<div class="hamburger">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
		</div>
		<nav class="left-nav hidden-xs hidden-sm hidden-md"></nav>

		<div class="right-nav hidden-xs hidden-sm hidden-md">
			<ul>
				<li><a href="https://www.facebook.com/iamabhishekbharti"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/iamabharti"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://www.instagram.com/abhishekbharti/"><i class="fa fa-instagram"></i></a></li>
			</ul>
		</div>

	</div>
