<div class="sb-slidebar sb-left sb-style-push">
	<ul class="side-social">
		<li><a href="https://www.facebook.com/iamabhishekbharti"><i class="fa fa-facebook"></i></a></li>
		<li><a href="https://twitter.com/iamabharti"><i class="fa fa-twitter"></i></a></li>
		<li><a href="https://www.instagram.com/abhishekbharti/"><i class="fa fa-instagram"></i></a></li>
	</ul>
	<ul class="side-menu">
		<li><a href="/">Home</a></li>
		<li><a href="contact">Connect</a></li>
		<li><a href="activities">Activities</a></li>
	</ul>
	<div class="side-cta">
		<a href="https://blog.abhishekbharti.com/" class="btn btn-default btn-big" target="_blank">Blogs</a>
	</div>
</div>
