<div id="sb-site">
	<div class="title-section dark-section text-center parallax">
		<div class="container">
			<p class="tagline">Get to Know me</p>
			<h1 class="special-heading center">About Me</h1>
		</div>
	</div>

	<section class="plain-section about-us text-center">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-2 col-md-offset-3">
					<figure><i class="icon-small icon-special icon-lightbulb"></i></figure>
				</div>
				<div class="col-md-2">
					<figure><i class="icon-small icon-special icon-hotairballoon"></i></figure>
				</div>
				<div class="col-md-2">
					<figure><i class="icon-small icon-special icon-happy"></i></figure>
				</div>
			</div>
			<div class="spacer"></div>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<h2>Who am i?</h2>
					<div class="spacer"></div>
					<p>I'm Abhishek Bharti, an artist and developer, working in web development and innovator.<br>
						 If you have a project that needs some creative injection then that’s where I come in!<br>
						 My job is to build your website so that it is functional and user-friendly but at the same time attractive.<br>
						 Moreover, I add personal touch to your product and make sure that is eye-catching and easy to use.<br>
						 My aim is to bring across your message and identity in the most creative way.</p>
				</div>
			</div>
			<span class="spacer" style="margin-bottom: 80px;"></span>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-6 team-left-block">
					<p class="tagline">Who I am</p>
					<h1 class="left left-md">Abhishek Bharti</h1>
					<p>I'm a learner, reader, seek opportunity in everything, creating &amp; innovating stuffs.<br>
					I believe "<b>I am not what happened to me, I am what i choose to become.</b>"	</p>
					<p>It's always good to receive positive and constructive feedback for work - from clients<br> and moreover, from designers! Take a look around and view my activities.</p>
				</div>
				<div class="col-md-4">
					<div class="team-member">
						<div class="team-photo">
							<div class="team-social-icons">
								<ul>
									<li><a href="https://www.facebook.com/iamabhishekbharti"><i class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/iamabharti"><i class="fa fa-twitter"></i></a></li>
									<li><a href="https://www.instagram.com/abhishekbharti/"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
							<img src="img/abhi/abhi.jpg">
						</div>
						<span class="name">Abhishek Bharti</span>
						<span class="position">Full Stack Developer</span>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="sb-slidebar sb-left sb-style-push">
	<ul class="side-social">
		<li><a href="https://www.facebook.com/iamabhishekbharti"><i class="fa fa-facebook"></i></a></li>
		<li><a href="https://twitter.com/iamabharti"><i class="fa fa-twitter"></i></a></li>
		<li><a href="https://www.instagram.com/abhishekbharti/"><i class="fa fa-instagram"></i></a></li>
	</ul>
	<ul class="side-menu">
		<li><a href="/">Home</a></li>
		<li><a href="about-us">About Me</a></li>
		<li><a href="activities">Activities</a></li>
	</ul>
	<div class="side-cta">
		<a href="contact" class="btn btn-default btn-big">Connect</a>
	</div>
</div>