<div id="sb-site">

		<div class="title-section dark-section text-center parallax">
			<div class="container">
				<p class="tagline">Some of my works</p>
				<h1 class="special-heading center">Activities</h1>
			</div>
		</div>

    <section class="plain-section dark-section portfolio-section text-center">
      <div class="container">
        <p class="tagline animated-entrance" data-animation="fadeInUp">My Activities</p>
        <h2 class="special-heading animated-entrance" data-animation="fadeInUp">some work</h2>

        <div class="portfolio">
          <div class="filter-bar animated-entrance" data-animation="fadeInUp">
            <ul class="filter-list clearfix">
              <li class="current"><a data-id="item">All</a></li>
              <li><a data-id="ambidextrous">Ambidextrous</a></li>
              <li><a data-id="app">Android</a></li>
              <li><a data-id="website">Website</a></li>
			  <li><a data-id="sample">Learning</a></li>
              <li class="view-more"><a >View more</a></li>
            </ul>
          </div>
          <ul class="portfolio-items 4-col">
            <li class="item ambidextrous animated-entrance" data-animation="fadeInUp">
              <a href="/img/abhi/act1.jpg" rel="prettyPhoto">
                <img src="/img/abhi/act1.jpg" alt="">
                <div class="item-content">
                  <h5>The Secret's Message</h5>
                  <span>Writing</span>
                </div>
              </a>
            </li>


			<li class="item website animated-entrance" data-animation="fadeInUp">
				<a href="/img/abhi/w1.jpg" rel="prettyPhoto">
					<img src="/img/abhi/w1.jpg" alt="">
					<div class="item-content">
						<h5>Magical World</h5>
						<span>Tech Blog</span>
					</div>
				</a>
			</li>

            <li class="item ambidextrous animated-entrance" data-animation="fadeInUp">
              <a href="/img/abhi/act2.jpg" rel="prettyPhoto">
                <img src="/img/abhi/act2.jpg" alt="">
                <div class="item-content">
                  <h5>About Japan</h5>
                  <span>Facts</span>
                </div>
              </a>
            </li>

			<li class="item website animated-entrance" data-animation="fadeInUp">
				<a href="/img/abhi/w2.png" rel="prettyPhoto">
					<img src="/img/abhi/w2.png" alt="">
					<div class="item-content">
						<h5>Portfolio Website</h5>
						<span>ReactJS</span>
					</div>
				</a>
			</li>

            <li class="item ambidextrous animated-entrance" data-animation="fadeInUp">
              <a href="/img/abhi/act3.jpg" rel="prettyPhoto">
                <img src="/img/abhi/act3.jpg" alt="">
                <div class="item-content">
                  <h5>The Magic of Art</h5>
                  <span>Writing</span>
                </div>
              </a>
            </li>
			<li class="item website animated-entrance" data-animation="fadeInUp">
				<a href="/img/abhi/mg.jpg" rel="prettyPhoto">
					<img src="/img/abhi/mg.jpg" alt="">
					<div class="item-content">
						<h5>Mother Globe</h5>
						<span>Own Environmental Website</span>
					</div>
				</a>
			</li>

            <li class="item ambidextrous animated-entrance" data-animation="fadeInUp">
              <a href="/img/abhi/act4.jpg" rel="prettyPhoto">
                <img src="/img/abhi/act4.jpg" alt="">
                <div class="item-content">
                  <h5>Happy New Year 2017</h5>
                  <span>Writing</span>
                </div>
              </a>
            </li>

			<li class="item website animated-entrance" data-animation="fadeInUp">
				<a href="/img/abhi/w3.png" rel="prettyPhoto">
					<img src="/img/abhi/w3.png" alt="">
					<div class="item-content">
						<h5>Balaji Inter Decor</h5>
						<span>Client's Website</span>
					</div>
				</a>
			</li>

			<li class="item website animated-entrance" data-animation="fadeInUp">
				<a href="/img/abhi/kn.jpg" rel="prettyPhoto">
					<img src="/img/abhi/kn.jpg" alt="">
					<div class="item-content">
						<h5>Kundan Negi Photography</h5>
						<span>Client's Website</span>
					</div>
				</a>
			</li>

            <li class="item ambidextrous animated-entrance" data-animation="fadeInUp">
              <a href="/img/abhi/act5.jpg" rel="prettyPhoto">
                <img src="/img/abhi/act5.jpg" alt="">
                <div class="item-content">
                  <h5>Laws of Attraction</h5>
                  <span>Writing</span>
                </div>
              </a>
            </li>

			<li class="item website animated-entrance" data-animation="fadeInUp">
				<a href="/img/abhi/w4.png" rel="prettyPhoto">
					<img src="/img/abhi/w4.png" alt="">
					<div class="item-content">
						<h5>DNRS</h5>
						<span>Client's Website</span>
					</div>
				</a>
			</li>


            <li class="item sample animated-entrance" data-animation="fadeInUp">
              <a href="/img/abhi/s2.png" rel="prettyPhoto">
                <img src="/img/abhi/s2.png" alt="">
                <div class="item-content">
                  <h5>Monk Notes</h5>
                  <span>NodeJS, MongoDB</span>
                </div>
              </a>
            </li>

			<li class="item website animated-entrance" data-animation="fadeInUp">
				<a href="/img/abhi/w5.png" rel="prettyPhoto">
					<img src="/img/abhi/w5.png" alt="">
					<div class="item-content">
						<h5>Farfetch Facility</h5>
						<span>Client's Website</span>
					</div>
				</a>
			</li>

			<li class="item website animated-entrance" data-animation="fadeInUp">
				<a href="/img/abhi/cp.jpg" rel="prettyPhoto">
					<img src="/img/abhi/cp.jpg" alt="">
					<div class="item-content">
						<h5>CP Canteen</h5>
						<span>Client's Website</span>
					</div>
				</a>
			</li>

            <li class="item sample animated-entrance" data-animation="fadeInUp">
              <a href="/img/abhi/s1.png" rel="prettyPhoto">
                <img src="/img/abhi/s1.png" alt="">
                <div class="item-content">
                  <h5>React Shopping Cart</h5>
                  <span>ReactJS</span>
                </div>
              </a>
            </li>

			<li class="item website animated-entrance" data-animation="fadeInUp">
				<a href="/img/abhi/saafsutra.jpg" rel="prettyPhoto">
					<img src="/img/abhi/saafsutra.jpg" alt="">
					<div class="item-content">
						<h5>Saaf Sutra</h5>
						<span>Client's Website</span>
					</div>
				</a>
			</li>

			<li class="item ambidextrous animated-entrance" data-animation="fadeInUp">
				<a href="/img/abhi/act6.jpg" rel="prettyPhoto">
					<img src="/img/abhi/act6.jpg" alt="">
					<div class="item-content">
						<h5>The Laughing Heart</h5>
						<span>Writing, Poem</span>
					</div>
				</a>
			</li>

			<li class="item app animated-entrance" data-animation="fadeInUp">
				<a href="/img/abhi/app1.png" rel="prettyPhoto">
					<img src="/img/abhi/app1.png" alt="">
					<div class="item-content">
						<h5>Drop Notes</h5>
						<span>Android Application</span>
					</div>
				</a>
			</li>

			<li class="item app animated-entrance" data-animation="fadeInUp">
				<a href="/img/abhi/app2.png" rel="prettyPhoto">
					<img src="/img/abhi/app2.png" alt="">
					<div class="item-content">
						<h5>Material Design Application</h5>
						<span>Android Application</span>
					</div>
				</a>
			</li>

          </ul>
        </div>
      </div>
    </section>

	</div>

	<!-- The side menu -->
	<div class="sb-slidebar sb-left sb-style-push">
		<ul class="side-social">
			<li><a  href="https://www.facebook.com/iamabhishekbharti"><i class="fa fa-facebook"></i></a></li>
			<li><a  href="https://twitter.com/iamabharti"><i class="fa fa-twitter"></i></a></li>
			<li><a  href="https://www.instagram.com/abhishekbharti/"><i class="fa fa-instagram"></i></a></li>
		</ul>
		<ul class="side-menu">
			<li><a href="/">Home</a></li>
			<li><a href="about-us">About Me</a></li>
			<li><a href="activities">Activities</a></li>
		</ul>
		<div class="side-cta">
			<a href="contact" class="btn btn-default btn-big">Connect</a>
		</div>
	</div>

	<section class="plain-section blog-section">
		<div class="container">
			<h3 class="text-center">Some Art Works</h3>
			<div class="row">
				<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
					<div class="blog-card">
						<img src="/img/abhi/a.jpg" alt="">
						<div class="card-content">
							<div class="blog-date">25<span>Jan</span></div>
							<h3><a>The Boy</a></h3>
							<span class="category">Sketches</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
					<div class="blog-card">
						<img src="/img/abhi/i.jpg" alt="">
						<div class="card-content">
							<div class="blog-date">13<span>Mar</span></div>
							<h3><a>Beautiful Calligrphy</a></h3>
							<span class="category">Sketches</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
					<div class="blog-card">
						<img src="/img/abhi/b.jpg" alt="">
						<div class="card-content">
							<div class="blog-date">05<span>Feb</span></div>
							<h3><a>Beautiful Girl</a></h3>
							<span class="category">Sketches</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
					<div class="blog-card">
						<img src="/img/abhi/c.jpg" alt="">
						<div class="card-content">
							<div class="blog-date">14<span>Mar</span></div>
							<h3><a>Toothless from "How to train your dragon"</a></h3>
							<span class="category">Wall Painting</span>
						</div>
					</div>
				</div>

			</div>
			<div class="spacer"></div>
			<div class="row">
				<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
					<div class="blog-card">
						<img src="/img/abhi/d.jpg" alt="">
						<div class="card-content">
							<div class="blog-date">21<span>Apr</span></div>
							<h3><a>The Gift of Love</a></h3>
							<span class="category">Calligraphy</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
					<div class="blog-card">
						<img src="/img/abhi/e.jpg" alt="">
						<div class="card-content">
							<div class="blog-date">25<span>May</span></div>
							<h3><a>The Sexy Girl</a></h3>
							<span class="category">Pen Sketches</span>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
					<div class="blog-card">
						<img src="/img/abhi/g.jpg" alt="">
						<div class="card-content">
							<div class="blog-date">14<span>Aug</span></div>
							<h3><a href="img/abhi/g-l.jpg">Jesus Christ</a></h3>
							<span class="category">Sketches</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
					<div class="blog-card">
						<img src="/img/abhi/h.jpg" alt="">
						<div class="card-content">
							<div class="blog-date">21<span>Dec</span></div>
							<h3><a>The Famous symbol of OM in Tibet</a></h3>
							<span class="category">Pen Sketches</span>
						</div>
					</div>
				</div>
			</div>
			<div class="spacer"></div>
			<div class="row">
			<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
				<div class="blog-card">
					<img src="/img/abhi/f.jpg" alt="">
					<div class="card-content">
						<div class="blog-date">05<span>July</span></div>
						<h3><a>The lover boy</a></h3>
						<span class="category">Sketches</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
				<div class="blog-card">
					<img src="/img/abhi/j.jpg" alt="">
					<div class="card-content">
						<div class="blog-date">08<span>Oct</span></div>
						<h3><a>The Buddha</a></h3>
						<span class="category">Sketches</span>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>