<div id="sb-site">
	<div class="title-section dark-section text-center parallax">
		<div class="container">
			<p class="tagline">Get in Touch</p>
			
			<h1 class="special-heading center">Contact Me</h1>
		</div>
	</div>

	<div class="plain-section">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-10 col-md-offset-1">
					<p>Give me a call, send us an email or a letter - or drop by to have a chat.<br>I am always here to help out in whatever way i can.</p>
					<div class="spacer"></div>
					<div class="contact-details clearfix">
						<div class="contact-col">
							<i class="fa fa-map-marker"></i>
							<h5>Address</h5>
							<p>Bangalore, India</p>
						</div>
						<div class="contact-col">
							<i class="fa fa-envelope-o"></i>
							<h5>Email Address</h5>
							<p>imabhishekbharti12@gmail.com</p>
						</div>
						<div class="contact-col">
							<i class="fa fa-phone"></i>
							<h5>Phone Number</h5>
							<p>+91 9036732977</p>
						</div>
					</div>
				</div>
			</div>

			<div class="spacer"></div>

			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="alert">Your Message has been Send</div>
					<form class="contact-form" id="contactForm">
						<div class="form-group cr-input">
							<input name="name" type="text" class="form-control input-lg" id="name">
							<label for="nameinput" class="cr-label"><span>Name</span></label>
						</div>
						<div class="form-group cr-input">
							<input name="email" type="email" class="form-control input-lg" id="email">
							<label for="emailinput" class="cr-label"><span>Email</span></label>
						</div>
						<div class="form-group cr-input">
							<input type="text" name="mobile"  class="form-control input-lg" id="phone">
							<label for="mobileinput" class="cr-label"><span>Mobile</span></label>
						</div>
						<div class="form-group cr-input">
							<textarea name="message" class="form-control" rows="5" id="message"></textarea>
							<label for="messageinput" class="cr-label"><span>Message</span></label>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-gray btn-medium btn-outline">Send Message</button>
						</div>
					</form>

					

				</div>
			</div>

		</div>
	</div>
</div>