<div id="sb-site">
	<section class="head-section photo-section">
		<div class="overlay"></div>
			<div class="head-slider owl-carousel">

				<div class="slide slide1" data-bg="#2094c4" data-bg-opacity="0.7"data-header-color="light" data-image="#">
					<div class="slide-content dark">
						<div class="slide-content-outer">
							<div class="slide-content-inner right bottom">
								<h2>I am</br>Abhishek Bharti</h2>
								<p>I'm a Science Enthusiast,  a Traveller,  an Artist,</br>A  Space Wanderer, a  Software Developer and much more.</br> I love the idea of Love.</p>
								<a href="/contact" class="btn btn-gray btn-outline btn-big">Get in Touch</a>
							</div>
						</div>
					</div>
				</div>

				<div class="slide slide2" data-bg="#fff" data-bg-opacity="0.9" data-header-color="dark" data-image="#">
					<div class="slide-content dark">
						<div class="slide-content-outer">
							<div class="slide-content-inner left middle">
								<h2>Tech<br> Enthusiast</h2>
								<p>I love learning new languages and technologies<br>The highest goals to contribute something to fellow citizens.</p>
								<a href="/contact" class="btn btn-gray btn-outline btn-big">Get in Touch</a>
							</div>
						</div>
					</div>
				</div>

				<div class="slide slide3" data-bg="#333" data-bg-opacity="0.7" data-header-color="light" data-image="#">
					<div class="slide-content dark">
						<div class="slide-content-outer">
							<div class="slide-content-inner center middle">
								<h2>I believe</h2>
								<p>Now and then it's good to pause in our pursuit of happiness and just be happy.</p>
								<a href="/contact" class="btn btn-gray btn-outline btn-big">Get in Touch</a>
							</div>
						</div>
					</div>
				</div>

			</div>
	</section>

	<section class="plain-section about-us-home">
		<div class="container">
			<div class="row">
			<div class="col-sm-4 animated-entrance" data-animation="fadeInUp">
				<div class="team-member">
					<div class="team-photo">
						<div class="team-social-icons">
						  <ul>
							<li>
								<a href="https://www.facebook.com/iamabhishekbharti">
								<i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="https://twitter.com/iamabharti">
								<i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="https://www.instagram.com/abhishekbharti/">
								<i class="fa fa-instagram"></i></a>
							</li>
						  </ul>
						</div>
						<img src="/img/abhi/abhi.jpg">
					</div>
					<span class="name">Abhishek Bharti</span>
					<span class="position">Developer</span>
				</div>
				</div>
				<div class="col-sm-8 text-left animated-entrance" data-animation="fadeInUp">
					<p class="tagline">Who I Am</p>
					<h2>About Me</h2>
					<div class="spacer" style="margin-bottom: 10px;"></div>
					<p>I'm a learner, reader, seek opportunity in everything, creating &amp; innovating stuffs.<br>
						 I believe "<i><b>I am not what happened to me, I am what i choose to become.</i></b>"<br>
						 As a part of this mysterious universe, i am made to achieve everything.<br>
						 I believe "<i><b>somewhere, something incredible is waiting to be known.</i></b>"<br>
						 I love travelling, doing crazy stuffs, draw something (Art, Calligraphy)<br> &amp; nowadays i'm learning to become Ambidextrous.
					 </p>
					<p>As in profession, I'm Software Engineer working as Web Developer.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="plain-section services text-center">
		<div class="container">
			<p class="tagline animated-entrance" data-animation="fadeInUp">Services</p>
			<h2 class="special-heading animated-entrance" data-animation="fadeInUp">What I Do</h2>
			<div class="row services-row">
				<div class="col-md-4 service-col animated-entrance" data-animation="bounceIn">
					<figure><i class="icon icon-tools"></i></figure>
					<h4>Art Work &amp; Photography </h4>
					<p>As part of creating, i love to draw mostly sketches &amp; painting, been into calligraphy. Nowadays also gathering interest in becoming Ambidextrous.<br> Crazy about Photography Stuffs.</p>
					<a href="activities" class="read-more">Read more</a>
				</div>
				<div class="col-md-4 service-col animated-entrance" data-animation="bounceIn">
					<figure><i class="icon icon-mobile"></i></figure>
					<h4>Web &amp; Mobile App</h4>
					<p>I'm keen interested in development of Web Application and Mobile Application{Android}. I have developed some component based application related with Material Design.</p>
					<a href="activities" class="read-more">Read more</a>
				</div>
				<div class="col-md-4 service-col animated-entrance" data-animation="bounceIn">
					<figure><i class="icon icon-gears"></i></figure>
					<h4>Creating &amp; Developing</h4>
					<p>I like coding stuffs, always eager to learn something in programming, solving real problems. Nowadays i'm learning web development using NodeJS and further move to ReactJS.</p>
					<a href="activities" class="read-more">Read more</a>
				</div>
			</div>
		</div>
	</section>

	<section class="photo-section dark-section parallax break1">
		<div class="overlay" style="opacity: .7;"></div>
		<div class="container text-center">
			<p class="tagline animated-entrance" data-animation="fadeInRight">How I Do Motivate</p>
			<h2 class="special-heading center animated-entrance" data-animation="fadeInRight">Books</h2>
			<div class="row animated-entrance" data-animation="fadeInRight">
				<div class="col-md-8 col-md-offset-2">
					<p class="featp">"A book is made from a tree. It is an assemblage of flat, flexible parts (still called "leaves") imprinted with dark pigmented squiggles. One glance at it and you hear the voice of another person, perhaps someone dead for thousands of years. Across the millennia, the author is speaking, clearly and silently, inside your head, directly to you. Writing is perhaps the greatest of human inventions, binding together people, citizens of distant epochs, who never knew one another. Books break the shackles of time ― proof that humans can work magic." - Carl Sagan, Astro Physicist</p>
					<a href="activities" class="btn btn-gray btn-outline btn-big">Activities</a>
				</div>
			</div>
		</div>
	</section>

	<section class="plain-section funny-facts text-center">
		<div class="container">
			<h3>Adventure</h3>

			<div class="image-carousel">
				<ul class="carousel">
					<li class="item animated-entrance" data-animation="zoomIn">
						<a rel="prettyPhoto"><img src="/img/abhi/image3.jpg" alt="The Mountain is Always Calling"><span>The Mountain <br>is Always Calling
						</span></a>
					</li>
					<li class="item animated-entrance" data-animation="zoomIn">
						<a rel="prettyPhoto">
						<img src="/img/abhi/image2.jpg" alt="Do Not Miss the scene">
						<span>Do Not Miss <br>the scene</span></a>
					</li>
					<li class="item animated-entrance" data-animation="zoomIn">
						<a rel="prettyPhoto">
						<img src="/img/abhi/image6.jpg" alt="The Peaceful Nature with breathtaking beauty"><span>The Peaceful <br>Nature with breathtaking beauty</span></a>
					</li>
					<li class="item animated-entrance" data-animation="zoomIn">
						<a rel="prettyPhoto">
						<img src="/img/abhi/image4.jpg" alt="Be Ready for the 
						Adventure"><span>Be Ready for <br>the Adventure</span>
						</a>
					</li>
					<li class="item animated-entrance" data-animation="zoomIn">
						<a rel="prettyPhoto">
						<img src="/img/abhi/image5.jpg" alt="Push Your Limit">
						<span>Push Your <br> Limit</span></a>
					</li>
					<li class="item animated-entrance" data-animation="zoomIn">
						<a rel="prettyPhoto">
						<img src="/img/abhi/image1.jpg" alt="Photos worth to remember">
						<span>Photos worth to remember</span></a>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="plain-section testimonials-section text-left">
		<div id="photo-holder" class="photo-holder"></div>
		<div class="container">
			<div class="row animated-entrance" data-animation="fadeIn">
				<div class="col-md-8 col-md-offset-4">
					<p class="tagline">Quotes</p>
					<h2 class="special-heading left">What Famous People Say</h2>
					<div class="testimonials-slider">
						<ul class="testimonials">

							<li class="testimonial-item" data-image="#">
								<blockquote>
									<p>Look again at that dot. That's here. That's home. That's us.
									 On it everyone you love, everyone you know, everyone you ever heard of, every human being who ever was, lived out their lives.
									 The aggregate of our joy and suffering, thousands of confident religions, ideologies, and economic doctrines, every hunter and forager,
									 every hero and coward, every creator and destroyer of civilization, every king and peasant, every young couple in love, every mother and father,
									 hopeful child, inventor and explorer, every teacher of morals, every corrupt politician, every "superstar," every "supreme leader,"
									 every saint and sinner in the history of our species lived there-on a mote of dust suspended in a sunbeam."
									</p>
									<footer class="clearfix">
										<div class="photo-holder slide-photo"></div>
										<h5>Carl Sagan</h5>
										<span>Astronomer</span>
									</footer>
								</blockquote>
							</li>

							<li class="testimonial-item" data-image="#">
								<blockquote>
									<p>You have to grow from the inside out. None can teach you, none can make you spiritual. There is no other teacher but your own soul.</p>
									<p>We are what our thoughts have made us; so take care about what you think. Words are secondary. Thoughts live; they travel far.</p>
									<p>When an idea exclusively occupies the mind, it is transformed into an actual physical or mental state.</p>
									<footer class="clearfix">
										<div class="photo-holder slide-photo"></div>
										<h5>Swami Vivekananda</h5>
										<span>Indian Hindu monk</span>
									</footer>
								</blockquote>
							</li>

							<li class="testimonial-item" data-image="#">
								<blockquote>
									<p>Science without religion is lame, religion without science is blind.</p>
									<p>Two things are infinite: the universe and human stupidity; and I'm not sure about the universe.</p>
									<p>The most beautiful thing we can experience is the mysterious. It is the source of all true art and science.</p>
									<footer class="clearfix">
										<div class="photo-holder slide-photo"></div>
										<h5>Albert Einstein</h5>
										<span>Theoretical physicist</span>
									</footer>
								</blockquote>
							</li>

							<li class="testimonial-item" data-image="#">
								<blockquote>
									<p>We are just an advanced breed of monkeys on a minor planet of a very average star. But we can understand the Universe. That makes us something very special.</p>
									<p>We only have to look at ourselves to see how intelligent life might develop into something we wouldn’t want to meet</p>
									<p>Intelligence is the ability to adapt to change.</p>
									<footer class="clearfix">
										<div class="photo-holder slide-photo"></div>
										<h5>Stephen Hawking</h5>
										<span>Theoretical physicist</span>
									</footer>
								</blockquote>
							</li>

							<li class="testimonial-item" data-image="#">
								<blockquote>
									<p>Physics is like sex: sure, it may give some practical results, but that's not why we do it.</p>
									<p>Nature uses only the longest threads to weave her patterns, so that each small piece of her fabric reveals the organization of the entire tapestry.</p>
									<footer class="clearfix">
										<div class="photo-holder slide-photo"></div>
										<h5>Richard Feynman</h5>
										<span>Theoretical physicist</span>
									</footer>
								</blockquote>
							</li>

							<li class="testimonial-item" data-image="#">
								<blockquote>
									<p>If we don't believe in freedom of expression for people we despise, we don't believe in it at all.</p>
									<p>It is the responsibility of intellectuals to speak the truth and expose lies.</p>
									<p>The more you can increase fear of drugs and crime, welfare mothers, immigrants and aliens, the more you control all the people.</p>
									<footer class="clearfix">
										<div class="photo-holder slide-photo"></div>
										<h5>Noam Chomsky</h5>
										<span>Linguist, philosopher, cognitive scientist, historian</span>
									</footer>
								</blockquote>
							</li>

							<li class="testimonial-item" data-image="#">
								<blockquote>
									<p>If you judge people, you have no time to love them.</p>
									<p>Spread love everywhere you go. Let no one ever come to you without leaving happier.</p>
									<p>Kind words can be short and easy to speak, but their echoes are truly endless.</p>
									<footer class="clearfix">
										<div class="photo-holder slide-photo"></div>
										<h5>Mother Teresa</h5>
										<span>Saint</span>
									</footer>
								</blockquote>
							</li>

							<li class="testimonial-item" data-image="#">
								<blockquote>
									<p>You must be the change you wish to see in the world.</p>
									<p>Happiness is when what you think, what you say, and what you do are in harmony.</p>
									<p>The weak can never forgive. Forgiveness is the attribute of the strong.</p>
									<footer class="clearfix">
										<div class="photo-holder slide-photo"></div>
										<h5>Mahatma Gandhi</h5>
										<span>Civil rights leader</span>
									</footer>
								</blockquote>
							</li>

							<li class="testimonial-item" data-image="#">
								<blockquote>
									<p>Happiness is not something ready made. It comes from your own actions.</p>
									<p>This is my simple religion. There is no need for temples; no need for complicated philosophy. Our own brain, our own heart is our temple; the philosophy is kindness.</p>
									<p>Our prime purpose in this life is to help others. And if you can't help them, at least don't hurt them.</p>
									<footer class="clearfix">
										<div class="photo-holder slide-photo"></div>
										<h5>Lhamo Dondrub</h5>
										<span>14th Dalai Lama</span>
									</footer>
								</blockquote>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="plain-section blog-section">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
					<div class="blog-card">
						<img src="/img/abhi/a.jpg" alt="Boy">
						<div class="card-content">
							<div class="blog-date">25<span>Jan</span></div>
							<h3><a>The Boy</a></h3>
							<span class="category">Sketches</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
					<div class="blog-card">
						<img src="/img/abhi/i.jpg" alt="Buddha">
						<div class="card-content">
							<div class="blog-date">08<span>Oct</span></div>
							<h3><a>Beautiful Calligraphy</a></h3>
							<span class="category">Sketches</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
					<div class="blog-card">
						<img src="/img/abhi/c.jpg" alt="Toothless">
						<div class="card-content">
							<div class="blog-date">14<span>Mar</span></div>
							<h3><a>Toothless from "How to train your dragon"</a></h3>
							<span class="category">Wall Painting</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
					<div class="blog-card">
						<img src="/img/abhi/d.jpg" alt="Love">
						<div class="card-content">
							<div class="blog-date">21<span>Apr</span></div>
							<h3><a>The Gift of Love</a></h3>
							<span class="category">Calligraphy</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="social-section">
		<div class="container">
			<div class="social-card">
				<div class="row">
					<div class="col-md-6 social-left animated-entrance" data-animation="fadeInLeft">
						<div class="social-icons">
							<span class="label">Follow Me:</span>
							<ul class="social-list">
								<li><a href="https://www.facebook.com/iamabhishekbharti"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/iamabharti"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.instagram.com/abhishekbharti/"><i class="fa fa-instagram">
								</i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 social-right animated-entrance" data-animation="fadeInRight">
						<span class="label">Newsletter:</span>
						<form class="form-inline newsletter-form">
							<div class="form-group">
								<label class="sr-only" for="exampleInputEmail3">Email address</label>
								
								<input type="email" class="form-control" id="newsletter_input"
								name="MERGE0" placeholder="Your email address">
							</div>
							<button type="submit" class="icon-submit">
								<i class="fa fa-envelope-o"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="plain-section">
			<div class="container">

				<div class="row text-center">
					<div class="col-md-10 col-md-offset-1">
						<p>Give me a call, send us an email or a letter - or drop by to have a chat.<br>I am always here to help out in whatever way i can.</p>
						<div class="spacer"></div>
						<div class="contact-details clearfix">
							<div class="contact-col">
								<i class="fa fa-map-marker"></i>
								<h5>Address</h5>
								<p>Bangalore, India</p>
							</div>
							<div class="contact-col">
								<i class="fa fa-envelope-o"></i>
								<h5>Email Address</h5>
								<p>imabhishekbharti12@gmail.com</p>
							</div>
							<div class="contact-col">
								<i class="fa fa-phone"></i>
								<h5>Phone Number</h5>
								<p>+91 9036732977</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>		
</div>
